.product {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  /* Změna mezery mezi produkty */
  text-align: center;
  flex-basis: calc(33.33% - 10px);
  /* Šířka pro tři produkty vedle sebe */
}

.product img {
  max-width: 70%;
  height: auto;
  justify-content: center;
}

.product h2 {
  display: flex;
  justify-content: flex-start;
}
